*.class
*.log
*.jar
*.war
**/sho.yml
sho.yml
*.ear
*.jbc
hs_err_pid*
*.iml
*.ipr
*.iws
*.ctxt
*~
\#*
.\#*
.DS_Store
/database/
*.db
*.sqlite
*.sqlite3

/.scr/
/.idea/
/out/
/target/
/tmp/
/.tmp/
/.vscode/
/nbproject/
/nb-configuration.xml
/.jhipster/
/drjava/
/mtj.tmp/
/mvnw
/mvnw.cmd

/src/main/webapp/bower_components/
/src/main/webapp/node_modules/
/src/test/javascript/bower_components/

/.apt_generated/
/.classpath
.factorypath
.project
.settings/

/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.nextVersion
/dependency-reduced-pom.xml
/release.properties
